@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid yellow;  */
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  width: 1280px;
  /* background-color: #E5E5E5; */
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}

.container {
  width: 1060px;
  margin: 0 auto;
}

/*Навигация*/

.navigation {
  display: flex;
}

.navigation-logo {
  margin: 0 30px -5px 0;
}

.paghe-header-logo {
  display: block;
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  /* width: 264px; */
  max-width: 280px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #c4e4ae;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #a5afcc;
  outline: none;
} 

.navigation-icon {
  position: absolute;
  /* top: 20px; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: 27px 0 0 10px; */
  margin: auto;
  fill: #000
}

/* .button:hover,
.navigation-link:hover .navigation-icon {
  fill: #f79191;
}

.button:hover,
.navigation-link:focus .navigation-icon {
  fill: #ac9797;
} */

/* .favorites {
  font-size: 10px;
line-height: 13px;
} */

.navigation-button {
  width: 160px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  margin: 14px 0 0 30x;
  padding: 9px 15px;
  text-align: center;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

/*Welcome*/

.main-welcome {
  text-align: center;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-image {
  margin: 51px 0 82px 0;
}

.advantages-town {
  width: 670px;
  margin: 58px auto 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-town-cause {
  width: 690px;
  margin: 31px auto 0px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* 5 причин преимуществ*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 90px 0 0 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.container-text {
  display: flex;
}

.container-text-item {
  width: 230px;
  margin: 92px 85px;
  text-align: center;
}

.advantages-item-text {
  width: 400px;
  text-align: center;
}

.container-item {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.advantages-text-item,
.text-item {
  margin: 0;
  padding-bottom: 30px;
}

.item-basic {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-image {
  display: block;
}

.advantages-text {
  margin: 0;
  color: #333333;
}

.servise-list {
  display: flex;
  padding: 0;
  background-color: #ffffff;

}

.container-servise {
  display: flex;
  flex-direction: column;
  padding: 154px 85px 80px;
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.item-housing {
  background-image: url(../images/housing.svg);
}

.item-servise {
  background-image: url(../images/food.svg);
}

.item-souvenirs {
  background-image: url(../images/souvenirs.svg);
}

.servise-image {
  display: block;
  margin: 0 auto;
}

.text-servise {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
}

.servise-text {
  margin: 0;
  color: #333333;
}

.text-item {
  color: #000000;
}

.text-advantages {
  color: #ffffff;
}

.servise-list .item-servise {
  background-color: #FFFFFF;
}

.item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.servise-item {
  width: 400px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

/*Поиск гостиниц в Седоне*/

.hotel-interest {
  width: 350px;
  margin: 91px auto 0px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-description {
  width: 630px;
  margin: 29px auto 0px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.hotel-link {
  display: flex;
  margin: 56px auto 93px;
  width: 570px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  justify-content: center;
}

/*Подписаться на рассылку*/

.subscription {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-home {
  background-color: #0000ff;
  background-image: url("../images/background.jpg");
}

.subscription-catalog {
  color: #000000;
  background-color: #ffffff;

}

.subscription-text {
  margin: 94px auto 0;
  width: 420px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-catalog .subscription-text {
  margin: 118px auto 0;
}


.subscription-description {
  margin: 29px auto 0;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  width: 800px;
  margin: 46px auto 94px;
}

.description-text {
  color: #333333;
}

.subscription-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 600px;
  padding-left: 22px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.button-form {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 200px;
  padding: 12px 0 12px 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #82B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

/*Footer*/

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 30px;
  text-align: center;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon,
.htmlacademy-icon {
  color: #83B3D3;
}

/* .footer-social-wk {
  background-image: url(../images/social-twitter.svg);
}

.footer-social-telegram {
  background-image: url(../images/social-facebook.svg);
}

.footer-social-youtube {
  background-image: url(../images/social-youtube.svg);
} */

/* .footer-social-item:hover {
  background-color:  #68A2CA;
}

.footer-social-item:active {
  background-color:  rgba(104, 162, 202, 0.3);;
} */

.footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts:hover {
  color: #756157;
}

.footer-contacts:active {
  color: rgba(117, 97, 87, 0.3);
  ;
}

.inner-header {
  color: #fff;
  background-color: #0995cc;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 0 70px;
}

/*Каталог Хлебные крошки*/

.inner-header-title {
  margin: 0 0 10px 0;
  width: 500px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 2px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  min-width: 73px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link-current {
  margin: 0;
}

/*Каталог Выбор гостиниц с фильтрами*/

.choice-hotel {
  margin-top: 40px;
}

.choice-filter {
  display: flex;
}

.choice-filter-group {
  padding: 0;
  border: none;
}

.choice-filter-title {
  width: 170px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #ffffff;
}

.choice-item-checkbox,
.choice-item-radio {
  margin-bottom: 15px;
}

.choice-item-checkbox:last-child,
.choice-item-radio:last-child {
  margin-bottom: 0px;
}

.choice-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-submit {
  min-width: 130px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset {
  width: 80px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-top: 20px;
  color: #ffffff;
  background-color: inherit;
  border: none;
}

/*Каталог Сортировка гостиниц*/

.container-sorting {
  display: flex;
  margin-top: 34px;
}

.catalog-sorting-filter {
  margin: auto 2px;
  width: 338px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  margin: auto 0 auto 191px;
  width: 290px;
  padding: 12px 13px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card {
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.card-item {
  margin-right: 8px;
}

.card-item:last-child {
  margin-right: 0;
}

.button-card:hover,
.button-card:active {
  outline: 2px solid #000000;
  ;
}

.button-card:focus {
  outline: 2px solid #68A2CA;
  ;
}

/*Каталог Карточки гостиниц*/

.product {
  margin-top: 35px;
  padding-left: 4px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  display: block;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 18px;
}

.product-card {
  padding: 20px;
}

.product-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 16px 0;
}

.container-product {
  display: flex;
  margin-bottom: 16px;
}

.product-card-hotel,
.product-card-price {
  width: 140px;
  color: #333333;
  margin: 0;
}

.product-card-hotel {
  margin-right: 20px;
}

.container-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.product-button,
.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 9px 15px 9px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.product-card-button {
  background-color: #82b3d3;
}

.button-favorites {
  background-color: #7DB54F;
}

.product-button:hover {
  background-color: #615048;
}

.product-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.product-card-button:hover {
  background-color: #68A2CA;
}

.product-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-favorites:hover {
  background-color:  #6C9E42;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:  #7DB54F;
}


.product-image-stars {
  display: block;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

/*Каталог Пагинация*/

.container-pagination {
  display: flex;
  margin-top: 96px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 400px;
  list-style-type: none;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  margin: 0 8px 0 0;
  list-style-type: none;
  cursor: pointer;
}

.pagination-item:last-child {
  margin-right: 0px;
}

.pagination-link {
  display: block;
  padding: 12px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.pagination-icon:hover {
  background-color: #68A2CA;;
}

.pagination-icon:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:  #82B3D3;;
}

.container-filter {
  display: flex;
  margin: 5px 5px 5px auto;
  align-items: center;
  color: #333333;
  min-height: 49px;
}

.pagination-filter {
  margin: auto 0;
  padding: 0 0 4px 4px;
}

.select-pagination {
  font-family: inherit;
  font-size: inherit;
  width: 160px;
  margin-left: 51px;
  padding: 10px 18px 12px;
}